<div class="card">
  <div class="row">
    <div class="col-auto">
      <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;">
    </div>
    <div class="col">
      <div class="card-block px-2">
        <h1 class="pt-2">{{user.name}}</h1>
        <ul class="list-unstyled">
          <li><strong>Email:</strong> {{user.email}}</li>
        </ul>
        <a href='/users/{{user.id}}/edit'>
          <button type="button" class="btn btn-primary mt-4">Edit</button>
        </a>
      </div>
    </div>
    <hr>
  </div>
</div>
<br />
<br />
<div class="card border-primary mb-3">
  <div class="card-header"> {{sumEach user.Comments}} 已評論餐廳</div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        {{#each user.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img class="rounded img-thumbnail mx-2" style="width: 75px; height:75px;" src="{{this.Restaurant.image}}"
            alt="{{this.Restaurant.name}}">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>